* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #817675;
  }

  .container {
    position: relative;
    width: 1100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }